@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Barlow Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo Bhai 2&display=swap');

/* ---------RESET------------------ */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* ---------------------------------------- */

/* ------------------NavBar------------------------------ */


#navbar{
    
  
    display: flex;
    position: relative;
    top: 11rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.274);
    
    
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4px;

}
#navbar ul li{
    list-style: none;
    font-size: .9rem;
    

}
#navbar ul li a{
    text-decoration: none;
    padding: 5px;
    margin: 8px 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;    
}

#navbar ul li a:hover{
    font-size: 1rem;
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url(bg.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .5;

}
body{
    background-color: black;
}

.logo{
    display: block;

    /* background-color: rgb(214, 214, 228); */
    padding: 1px;
    margin: 2px 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    letter-spacing: .3rem;
    color: white;
  
}

.mantra h2{
    background-color: rgba(243, 190, 243, 0.685);
    display: inline;
    font-family: 'Ubuntu Mono', sans-serif;
    color: white;
    font-size: 2.7rem;
    letter-spacing: .4rem;
    position: absolute;
    top: 16rem;
    left: 2rem;
    
}
.quote h2{

    display: inline;
    font-family: 'Ubuntu Mono', sans-serif;
    color: white;
    font-size: 3.5rem;
    letter-spacing: .4rem;
    position: absolute;
    top: 20rem;
    left: 6rem;
    font-style: italic;
}

@media only screen and (max-width: 900px) {

    #navbar{
        display: flex;
        flex-direction: column;
        top: 0;
        

    }
    #navbar ul{
        display: flex;
        position: static;
    }
    #navbar ul li a{
        
        margin: 12px 15px;
        
         
    }

    #navbar h3{
        text-align: center;
        display: block;
        z-index: 0;
    }

    .mantra h2{
        font-size: 1.7rem;
        top: 7rem;
        left: .5rem;
    }
    .quote h2{
        font-size: 1.5rem;
        top: 10rem;
        left: 1rem;
    }
}

@media only screen and (max-width: 400px) {

    #navbar{
        display: flex;
        flex-direction: column;
        top: 0;
        

    }
    #navbar ul li{
      
        font-size: .7rem;
    }
    #navbar ul li a{
        
        margin: 12px 9px;  
    }
    #navbar ul li a:hover{
        font-size: .8rem;
    }
    .logo{
        font-size: 1.2rem;
    }

    #navbar h3{
        text-align: center;
        display: block;
        z-index: 0;
    }

    .mantra h2{
        font-size: 1.7rem;
        top: 7rem;
        left: .5rem;
    }
    .quote h2{
        font-size: 1.5rem;
        top: 10rem;
        left: 1rem;
    }
}
@media only screen and (max-width: 290px) {

    #navbar ul{
        flex-direction: column;
        
        

    }
    #navbar ul li{
      
        font-size: .69rem;
    }
    #navbar ul li a{
        
        margin: 12px 4px;  
    }
    #navbar ul li a:hover{
        font-size: .6rem;
    }
    .logo{
        font-size: 1rem;
        margin: 2px 2px;
    }



    .mantra h2{
        font-size: 1rem;
        top: 6rem;
        left: .3rem;
    }
    .quote h2{
        font-size: .9rem;
        top: 8rem;
        left: .9rem;
    }
}